.roundedTopStart { border-radius: 40rem 0 0 0 }
.roundedTopEnd { border-radius: 0 40rem 0 0 }
.rotate90 {
    writing-mode: vertical-lr;
}
.borderPrimary{
    border-color: rgb(179, 148, 151) !important
}
.width75{
    width: 100%;
}
@media only screen and (min-width: 960px) {
    .width75{
        width: 65%;
    }
}