.navbarTransition {
    background-color: rgb(179, 148, 151) !important
    /* border-radius: 0rem 1rem 1rem 0rem ; */
}
.bgTtoggle {    
    background-color: rgb(179, 148, 151) !important;
}
.textColorPrimary{color: rgb(179, 148, 151)}
a {text-decoration: none; color: white;}
.mtm2{margin-top: -2rem;}
.z10 {z-index: 10;}
