/* .primary{
    color: #d88041
}
.secondary{
    color: #e6e7ea
} */
.bgPrimary{
    background-color: rgb(179, 148, 151) !important
}
.bgSecondary{
    background-color: #e6e7ea !important;
}
.colorPrimary{
    color: rgb(179, 148, 151);
}
